<!DOCTYPE html>
<html>
<head>
    <% include ../view/head %>
    <script>
        function passwordReset(){
            var id = prompt("ID?");
            window.location.href=`account/resetPassword?stu_id=${id}`;
        }
    </script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="javascript:location.replace('/main#landing');" >
        <img src="img/KSAReD.png"/>
        KSAReD
      </a>
      <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarContents" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarContents">
        <ul class="navbar-nav mr-auto nav nav-pills nav-justified" id="pills-tab" role="tablist">
          <li>
            <a class="nav-item nav-link active" id="nav_info" data-toggle="pill" href="#info">
              <%= i18n.__('Admin')%>
            </a>
          </li>
        </ul>
        <div>
            <div class="navbar-nav nav nav-pills nav-justified">
                <a id='accountNav' class="btn btn-danger" href="javascript:controlForm('show','login')">
                    <%= i18n.__('Log-In'); %>
                </a>
            </div>
        </div>
      </div>
    </div>
  </nav>
  <div id = "loginFormDiv" class = "popUpDiv" style="display:none;">
    <form id = 'loginForm' action='account/login' method = 'post'>
        <ul class="infoUl">
            <li class="popUpTitle">
                <h4><%= i18n.__('Log-In'); %></h4>
            </li>
            <hr/>
            <li class="infoLi">
                <label class="label horzShort"><%= i18n.__('ID'); %></label>
                <input name="ID" id="ID" class="form-control mr-sm-2 horzLong vertShort" type="text"/>
            </li>
            <li class="infoLi">
                <label class="label horzShort"><%= i18n.__('Password'); %></label>
                <input name="PW" id="PW" class="form-control mr-sm-2 horzLong vertShort" type="password"/>
            </li>
            <hr>
            <li>
                <button class="btn btn-primary my-2 my-sm-0 horzLong vertShort float-right" type='submit'><%= i18n.__('Log-In'); %></button>
            </li>
        </ul>
    </form>
  </div>
  <div class="container nav-item tab-content" id="pills-tabContent">
    <div id = "info" class="jumbotron tab-pane fade active show">
      <div class="container" id="admin_main">

      </div>
      <div id="admin_control">
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container bg-light">
      <p>Server running Port 3000</p>
    </div>
  </div>
</body>

<script src="assets/js/admin.js"></script>
<script src="assets/js/commonGUI.js"></script>

</html>
